<div class="my-4 mx-2" [ngClass]="{ 'md:w-56 lg:w-72 xl:w-96' : !deviceID }">
    <div [ngClass]="{ 'rounded-lg' : !deviceID, 'shadow' : !deviceID, 'sm:flex' : deviceID, 'sm:wax-w-none' : deviceID }" class="m-auto overflow-hidden p-2 max-w-4xl min-w-1/4">
        <div [ngClass]="{'sm:w-72' : deviceID}" class="text-center">
            <a [routerLink]="['/devices', selectDevice._id]">
                <img [ngClass]="{'sm:w-full' : deviceID}" class=" max-w-10 m-auto" [src]="selectDevice.image" alt="Sunset in the mountains">
            </a>

            <div class="font-bold text-gray-700 text-xl">{{selectDevice.Brand}}</div>
            <div class="text-gray-700 mb-2">{{ selectDevice.DeviceName}}</div>
            <div *ngFor="let os of selectDevice.os">
                <div class="text-gray-700 mb-2">{{ os.split(';')[0] }}</div>
            </div>

            <button *ngIf="true" class="bg-yellow-300 p-2 rounded text-gray-800 border border-solid border-gray-600 my-4 block m-auto min-w-full sm:min-w-3/4 lg:min-w-1/2 focus:outline-none">Añadir a favoritos</button>


            <button *ngIf="false" class="bg-gray-700 p-2 rounded text-yellow-400 border border-solid border-gray-800 my-4 block m-auto min-w-full sm:min-w-3/4 lg:min-w-1/2 focus:outline-none">Regístrese</button>

            <button *ngIf="false" class="bg-red-600 p-2 rounded text-white border border-solid border-red-800 my-4 block m-auto min-w-full sm:min-w-3/4 lg:min-w-1/2 focus:outline-none">Eliminar de favoritos</button>
        </div>

        <div [ngClass]="{ 'md:grid md:grid-flow-row-dense md:gap-4 ml-24' : deviceID }" class="text-left w-4/5 m-auto">
            <div>
                <i class="fas fa-microchip text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Pantalla</p>
                <div class="pl-8">
                    <span *ngFor="let display of selectDevice.display; index as index" class="text-gray-700 mb-2 block">
                        {{ display }}
                    <span *ngIf="selectDevice.display[index] === selectDevice.display[1]"> pulgadas</span>
                    <span *ngIf="selectDevice.display[index] === selectDevice.display[2]"> ratio de pantalla</span>
                    </span>
                </div>
            </div>

            <div>
                <i class="fas fa-camera text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Cámara trasera</p>
                <div class="pl-8">
                    <span *ngFor="let frontCam of selectDevice.camera | keyvalue" class="text-gray-700 mb-2 block">
                        {{ frontCam.value }}
                    </span>
                </div>
            </div>

            <div>
                <i class="fas fa-microchip text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Procesador</p>
                <div class="pl-8">
                    <span class="text-gray-700 block mb-2">{{ selectDevice.cpu }}</span>
                </div>
            </div>

            <div [ngClass]="{' md:col-start-1 md:col-end-2 md:row-end-1' : deviceID}">
                <i class="fas fa-memory text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Almacenamiento</p>
                <div class="pl-8">
                    <span *ngFor="let item of selectDevice.rom; index as index" class="text-gray-700 mb-2 block">
                        {{item}} GB
                      </span>
                </div>
            </div>

            <div [ngClass]="{' md:col-start-2 md:col-end-3 md:row-end-1' : deviceID}">
                <i class="fas fa-memory text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Memoria RAM</p>
                <div class="pl-8">
                    <span *ngFor="let item of selectDevice.ram; index as index" class="text-gray-700 mb-2 block">
                        {{item}} GB
                      </span>
                </div>
            </div>

            <div [ngClass]="{' md:col-start-3 md:col-end-4 md:row-end-1 ' : deviceID}">
                <i class="fas fa-memory text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Batería</p>
                <div class="pl-8">
                    <span class="text-gray-700 mb-2 block">{{ selectDevice.battery }}</span>
                </div>
            </div>

            <div>
                <i class="fas fa-plus-circle text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Características adicionales</p>
                <div class="pl-8">
                    <span *ngFor="let feature of selectDevice.features | keyvalue" class="text-gray-700 mb-2 block">
                        <span>{{ feature.value }}</span>
                    </span>
                </div>
            </div>

            <div>
                <i class="fas fa-memory text-gray-700 mr-3 text-lg"></i>
                <p class="inline text-lg font-semibold text-gray-800">Precio</p>
                <div class="pl-8">
                    <span class="text-gray-700 mb-2 block">{{ selectDevice.price }}€</span>
                </div>
            </div>
        </div>
    </div>
</div>