<div class="w-full bg-gray-700 md:flex md:px-10 xl:px-56 md:justify-between">

    <a class="md:w-32 md:my-auto cursor-pointer" [routerLink]="['home']">
        <img class="w-40 md:w-24 m-auto" src="../../../assets/images/Findus_light_larg.png" alt="Findus logo">
    </a>

    <app-main-nav class="mx-auto md:mr-0 lg:w-1/2 my-auto" [isAuth]="token"></app-main-nav>

    <div class="p-4 md:w-38" *ngIf="token && userData">
        <div class="flex justify-center mx-auto cursor-pointer focus:outline-none" [routerLink]="['userpage']">
            <img class="w-6 rounded-full" [src]="userData.image" alt="avatar user">
            <p class="text-sm text-white ml-2">{{userData.name}}</p>
        </div>
    </div>

</div>