<ul class="sm:flex w-full text-lg sm:justify-end">
    <li class="w-full sm:w-24 xl:w-28 text-center p-2 sm:p-0 sm:py-2 m-1 sm:m-0">
        <a class="text-white hover:text-yellow-400 py-2 px-6 sm:py-2" [routerLink]="['home']" routerLinkActive="active">Home</a>
    </li>
    <li class="w-full sm:w-24 xl:w-28 text-center p-2 sm:p-0 sm:py-2 m-1 sm:m-0">
        <a class="text-white hover:text-yellow-400 py-2 px-6 sm:py-2" [routerLink]="['contact']" routerLinkActive="active">Contact</a>
    </li>
    <li class="w-full sm:w-24 xl:w-28 text-center p-2 sm:p-0 sm:py-2 m-1 sm:m-0">
        <a class="text-white hover:text-yellow-400 py-2 px-6 sm:py-2" [routerLink]="['login']" routerLinkActive="active">Login</a>
    </li>
</ul>