<div class="bg-yellow-300 text-center sm:flex sm:py-6">
    <div class="w-full h-10 text-xl font-light pt-1">
        <a class="text-gray-700 px-4 mr-1 px-2 py-1" [routerLink]="['legal']">Aviso legal</a>
        <a class="text-gray-700 px-4 ml-1 px-2 py-1" [routerLink]="['about']">Nosotros</a>
    </div>

    <div class="w-full h-10 text-xl font-light">
        <a class="text-gray-700 px-3 py-1" href="https://www.linkedin.com/in/fcojalvarez/" target="blank">Francisco J. Álvarez ©</a>
    </div>
</div>